$primary: {{ INDIGO_PRIMARY_COLOR }};

// Theme fonts
$font-family-title: Poppins;
$serif: Poppins;
$f-sans-serif: Poppins, 'Open Sans';

// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';
